body {
    background-color: #fff;
    overflow-x: hidden;
}

main {
    margin-left: 20%;
    font-family: 'Work Sans', sans-serif;
    width: fit-content;
    overflow-x: hidden;
}

header {
    margin-top: 30px;
    height: 100px;

    /* background-color: beige; */
    width: fit-content;
}

header a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-size: 20px;
}

.logo {
    margin-left: 30px ;
}

h1 {
    position: relative;
    display: block;

    left: -40px;
    color: #ccc;
}
/* system */
.system {
    position: absolute;
    display: block;

    unicode-bidi: bidi-override;
    direction: rtl;
    top: 5px;
    right: 20px;
    
}

.custom-select {
    position: relative;
    font-family: Work Sans;
}

select {
    color: #b3b3b3;
    border: 1px solid #b3b3b3;
    font-size: 13px;
}

/* tag line */
.tagline {
    color: #b3b3b3;

    margin-top: 67px;
    right: -30px;
}

/* buttons */
.buttons {
    position: relative;
    display: block;

    height: 80px;
    width: 200px;

    /* background-color: beige; */
}

.buttons button {
    position: relative;
    display: inline-block;

    margin-top: 5px;
    margin-left: 2px;
    top: 40px;

    color: black;
    background-color: #ccc;
    border: 0 solid;
    padding: 3px 6px 3px 6px;
}

/* main-grade */

.main-grade {
    position: relative;
    border: 1px solid #b3b3b3;

    width: 500px;
    height: 200px;

    margin-top: 50px;
}

.main-grade img {
    position: absolute;
    width: 500px;
    bottom: 0;
}

.current-grade {
    position: absolute;

    height: 40px;
    width: 465px;

    background-color: #faee3b;

    left: 17px;
    top: -20px;
}

#current-grade-score {
    position: relative;
    font-family: Work Sans;
    font-size: 26px;
    color: black;
    top: -20px;
    left: 14px;
    font-weight: 800;
}
/*  */
.current-logo-score {
    position: absolute;

    left: calc(17px + 4.65*67.3px);
    top: 100px;
    background-color: aqua;
}

.logo-score {

    position: absolute;
    height: 50px;
    width: 80px;
    background-color: transparent;

    /* border: 1px solid #ccc; */
}

.logo-score::before{
    content: '';
    width: 10px;
    height: 100%;
    left: -30px;
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 4px 0px 4px 0px;
    border-top: 4px solid transparent;
}

.logo-score::after{
    content: '';
    width: 20px;
    height: 100%;
    left: -20px;
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 4px 4px 4px 0px;
}

.logo-score-number {
    position: absolute;
    font-family: Work Sans;
    font-weight: 800;

    top: -38px;
    left: -15px;
}

/*  */
.title {
    margin-top: 30px;
    width: fit-content;
}

.title p {
    margin: 0;
    
}

.title input {
    font-family: 'Work Sans', sans-serif;

    font-size: 22px;
    /* font-weight: 800; */

    /* background-color: black; */
    color: black;

    width: 380px;

    padding: 24px 0 3px 5px;
    border: 0px solid;
    border-bottom: 1px solid #ccc;
}

/* FORM */
form {
    position: relative;
    display: block;

    margin: 100px 0 0 0;
    width: 520px;
    /* background-color: beige; */
}

form table {
    margin: 0;
    padding: 0;
    border: 0;
}

form table th {
    /* border: 1px solid black; */

    font-family: Work Sans;
    font-size: 18px;
    font-weight: 100;
    color: #272727;

    text-align: left;
    padding-bottom: 20px;
}

form table th:nth-child(1) {
    width: 170px;
}

form table th:nth-child(2) {
    width: 155px;
    text-align: center;
}

form table th:nth-child(3) {
    width: 100px;
}

form table th:nth-child(4) {
    width: 35px;
}

#frm1 input {
    border: 0px solid #ccc;

    border-bottom: 1px solid #ccc;
    margin: 2px 0;

    font-size: 17px;
    padding: 2px 4px;

    background-color: #fff;

    font-family: Work Sans;
}

.assignment {
    width: 200px;
}

.weight {
    width: 80px;
    text-align: center;
}

.total-scored {
    width: 40px;
    text-align: right;
}

.total-total {
    width: 30px;
}

.percentage {
    position: absolute;
    display: inline-block;
    color: black;

    width: 55px;
    height: 20px;
    background-color: #d83621;
    margin-left: 10px;

    text-align: right;
    padding: 3px 3px 2px 2px;

    font-weight: 500;
}
.percentage::after {
    content: "";
    position: absolute;
    display: none;

    left: -8px;
    top: 7px;

	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid #d83621;
	border-bottom: 5px solid transparent;
}

.before-percentage {
    position: absolute;
    display: block;

    left: -8px;
    top: 7px;

	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid #d83621;
	border-bottom: 5px solid transparent;
}





#submit {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* about */
footer {
    margin-top: 100px;
    color: #ccc;
    width: fit-content;

    /* background-color: antiquewhite; */
}

footer a {
    color: #ccc;
}

footer p {
    font-size: 13px;
}

@media only screen and (max-width: 790px) {
    body {
        overflow-x: hidden;
    }
    
    main {
        margin-left: 1%;
    }

    header {
        margin-left: 50px;
    }
    
    .system {
        right: 0;
        unicode-bidi: bidi-override;
        direction: rtl;
    }
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    
    main {
        margin-left: 0;
    }

    header {
        margin-left: 50px;
    }

    .system {
        right: 0;
        unicode-bidi: bidi-override;
        direction: rtl;
    }

}


